@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    background-color: #e6e6e6;
}
:root{

 --sidebar-color:rgb(236, 231, 190);
 --primary-color:rgb(248, 229, 61);
 --primary-color-light: #F6F5FF;
 --toggle-color:#DDD;
 --text-color: black;

--tran-02: all 0.2s ease;
--tran-03: all 0.3s ease;
--tran-04: all 0.3s ease;
--tran-05: all 0.3s ease;

}


.navbar{
    font-weight: bold;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    /* /* background-color:rgb(236, 231, 190); */
     background-color: #f8ba57;
background-image: linear-gradient(315deg, #f7b750 0%, #ebd33c 74%); 
}

.title{
    font-size: 1.5rem;
    margin: 1.5rem;
}

.navbar{
    height: 100%;
}

.navbar ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li{
    list-style: none;
}

.navbar li a{
    display: block;
  
    text-decoration: none;
    color: black;
    padding: 1 rem;
    font-size: 17px;
    padding-right: 20px;
}
.navbar li a i{
    margin-right: 8px;
    height: 20px;
}
.navbar li a span{
   align-content: center;
   padding-right: 20px;
}

.navbar li:hover{
    text-decoration: underline;
} 

hr{
    color: black;
}

/*---------------*/

.sidebar::-webkit-scrollbar{
    display: none;
}
.side{
    margin-bottom:50px ;
    background: var(--body-color);
    transition: var(--tran-05);
    position: fixed;
    left:0;
    top:85px;
}


.sidebar{
    position: fixed;
    overflow-y: scroll;
    top: 85px;
    left: 0;
    height: 100%;
    padding: 10px 14px;
    width: 18rem ;
    /* /* background: var(--sidebar-color); */
     background-color: #f8ba57;
background-image: linear-gradient(315deg, #f7b750 0%, #ebd33c 74%);
}


.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
   transition: var(--tran-03);
}


.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    transition: var(--tran-03);
}

.sidebar header{
    position: relative;
}


.sidebar header .toggle{
    position: absolute;
    margin-top: 12px;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50% ;
    color: black;
    font-size: 22px;
    cursor: pointer;
}

.sidebar li a{
    padding-left: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    color: black;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li span{
    font-size: 22px;
  
}  

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text
{
 transition: var(--tran-03);
} 

.sidebar .menu{
    height: calc(100% -50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* Account  */
.account{
    display: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #d6d6dd;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    width: 306px;
    height: 200px;
    position: relative;
    z-index: 1;
}
.first{
    height: 76px;
    background-color: #f8ba57;
}
.middle{
    margin-left: 15px;

}
.second{
    font-size: large;
    line-height: 2.2rem;
    margin-left: 27px;
}
.merchant{
    margin-top: 6px;
    margin-left: inherit;
    display: inline-block;
}
.email{
    font-size: large;
}
.button {
    margin-left: inherit;
    height: 36px;
    width: 187px;
    padding: 1px 25px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    transform: translateY(1px);
  }


.container{
	margin-left:330px;
    width: 76vw;
	height: 590px;
	background-color: #d4d4d5;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn{
    display:flex;
    flex-wrap: wrap;
    border-bottom: 2px solid grey;
    padding: 10px 29px;
    margin: auto;
    font-size: 2rem;
    justify-content: space-between;
}
.btn button{
    padding: 10px;
    cursor: pointer;
    background-color: rgba(255, 208, 0, 0.952);
}
.btn button:hover{
    background-color: #f6b84f;
    text-decoration: underline;
}