@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


*{
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    background-color: #e6e6e6;
    font-family: 'DM Sans', sans-serif;
    /* display: flex; */
    /* align-items: center;
	justify-content: center;
    width: 100%;
	height: 100vh;
    position: relative; */
}
::-webkit-scrollbar{
    display: none;
}
:root{
    --body-color:white;
    --sidebar-color:rgb(236, 231, 190);
    --primary-color:rgb(248, 229, 61);
    --primary-color-light: #F6F5FF;
    --toggle-color:#DDD;
    --text-color: black;
   
   --tran-02: all 0.2s ease;
   --tran-03: all 0.3s ease;
   --tran-04: all 0.3s ease;
   --tran-05: all 0.3s ease;
}
.navbar{
    font-weight: bold;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    /* /* background-color:rgb(236, 231, 190); */
     background-color: #f8ba57;
background-image: linear-gradient(315deg, #f7b750 0%, #ebd33c 74%); 
height: 100%;
}
.navbar .title{
    font-size: 1.5rem;
    margin: 1.5rem;
}
.navbar ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li{
    list-style: none;
}

.navbar li a{
    display: block;
  
    text-decoration: none;
    color: black;
    padding: 1 rem;
    font-size: 17px;
    padding-right: 20px;
}
.navbar li a i{
    margin-right: 8px;
    height: 20px;
}
.navbar li a span{
    align-content: center;
    padding-right: 20px;
 }
 
 .navbar li:hover{
     text-decoration: underline;
 } 
 
 hr{
     color: black;
 }



 .side{
    
    margin-bottom:50px ;
    background: var(--body-color);
    transition: var(--tran-05);
    position: fixed;
    left: 0;
    top: 85px;
}


.sidebar{
    position: fixed;
    overflow-y: scroll;
    top: 85px;
    left: 0;
    /* height: 100%; */
    height: 670px;
    padding: 10px 14px;
    width: 300px ;
    /* /* background: var(--sidebar-color); */
     background-color: #f8ba57;
background-image: linear-gradient(315deg, #f7b750 0%, #ebd33c 74%);
}


.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
   transition: var(--tran-03);
}


.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    transition: var(--tran-03);
}

.sidebar header{
    position: relative;
}


.sidebar header .toggle{
    position: absolute;
    margin-top: 12px;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50% ;
    color: black;
    font-size: 22px;
    cursor: pointer;
}

.sidebar li a{
    padding-left: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    color: black;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li span{
    font-size: 22px;
  
}  

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text
{
 transition: var(--tran-03);
} 

.sidebar .menu{
    height: calc(100% -50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Account  */
.account{
    display: none;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #d6d6dd;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    width: 306px;
    height: 200px;
    position: relative;
    z-index: 1;
}
.first{
    height: 76px;
    background-color: #f8ba57;
}
.middle{
    margin-left: 15px;

}
.second{
    font-size: large;
    line-height: 2.2rem;
    margin-left: 27px;
}
.merchant{
    margin-top: 6px;
    margin-left: inherit;
    display: inline-block;
}
.email{
    font-size: large;
}
.button {
    margin-left: inherit;
    height: 36px;
    width: 187px;
    padding: 1px 25px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    transform: translateY(1px);
  }

  .merchant h2{
      font-size: 1.3em;
  }


  /* FORM */

  .main{
    width: 900px;
    background-color: #dedee1;
    height: 600px;
    /* margin-right: -10px; */
    /* margin-top: 8%;
    margin-left: 20%; */
   
    
    margin-left: 470px;
    margin-top: 40px;
    position: absolute;
    
}

.main .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#d4d4d5;
    /* padding: 0 30px; */
}

.main .nav .item{
    cursor: pointer;
    width: 25%;
    text-align: center;
    padding: 15px 0;
}

.nav .item p{
	font-weight: 800 ;
	font-size: 1rem !important;
}
hr{
    color: #c2c2c6;
}
::-webkit-input-placeholder {
    text-align: center;
  }
  :-moz-placeholder {
    text-align: center;
  }
  .form-1 {
    margin: 0.1%;
    margin-top: 3% !important;
}
.one{
    display: flex;
    flex-direction: column;
}
.one_a{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}
.one_b{
    display: flex;
    justify-content:space-evenly;
    margin-top: 2%;
}
input{
    width:180px;
	padding: 8px 0px 8px 0px;
	border: none;
}
.one_a option,select{
    width:170px;
	padding: 8px 0px 8px 0px;
	border: none;
    cursor: pointer;
    color: black;
    font-family: 'DM Sans', sans-serif !important;
    font-size: 0.8rem !important;
}
.details{
    font-weight: 800 ;
	font-size: 0.8rem !important;
}

.two{
   
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main .sub-nav{
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#d4d4d5;
    /* padding: 0 30px; */
}

.main .sub-nav .item{
    cursor:default;
    width: 25%;
    text-align: center;
    padding: 15px 0;
}

.sub-nav .item p{
	font-weight: 800 ;
	font-size: 0.9rem !important;
}
.two .two_a{
    text-align: center;
    justify-content: center;
    color: #9ba3aa;
    position: relative;
    top: 150px;
}
.form-2 {
    margin: 0.1%;
    margin-top: 3% !important;
}
.btn{
    background-color: #e1b92f;
    color: black;
    font-family: 'DM Sans', sans-serif !important;
    font-size: 0.9rem !important;
    font-weight: bold;
    border: none;
    padding: 6px 18px 6px 18px;
    transition: all 0.3s linear 0s;
}
.btn:hover{
    cursor: pointer;
    background-color: #f3bf49;  
}
.form-3,.form-4,.form-5{
    margin: 0.1%;
    margin-top: 3% !important;
}

.sub-wrap .wrap3{
    background-color: #e6e6e6;
    align-items: center;
}
/* 
.form-1{
    display: block;
    background-color: #d4d4d5;
}
.form-2,
.form-3,
.form-4{
    display: none;
} */
.one_c{
    text-align: center;
    margin-top: 4%;
    margin-bottom:0;
}
